body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  font-family: "Jeju Gothic", san-serif;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}
